/node_modules
/.vscode
/.idea/
/data/
/log/
/src/cachedtiles/

**/build/
/serial/*.bin

config.json
commands.json
stateflags.json

*.csv
*.log
*.av1
*.yuv
*.xz
*.gsm
# Large visualization assets
src/libraries/Visualizations/farm.glb
src/libraries/Visualizations/farm_3d+2d.glb
src/libraries/Visualizations/farm_big.glb
