:root {
  --top-bg: #111;
  --top-text: #bbb;
  --main-bg: white;
  --main-text: black;
  --stage-incomplete: white;
  --stage-in-progress: black;
  --stage-complete: white;
  --top-hover: #ca0000;
  --sidebar-main: #ca0000;
  --sidebar-hover: #ff2f2f;
  --top-highlight: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#top-bar {
  width: 100%;
  height: 5vh;
  max-height: 40px;
  -webkit-app-region: drag;
  background-color: var(--top-bg);
  padding: 0 1vw;
  color: var(--top-text);
}

#top-left {
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: min(2vh, 17px);
}

#top-left img {
  height: 80%;
  margin-right: 1vw;
}

#top-right {
  float: right;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#serial-drop,
#serial1-drop,
#serial2-drop {
  margin-right: 1vw;
}

.dropdown {
  padding: 0 0.5vw;
  background-color: var(--top-bg);
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: visible;
  -webkit-app-region: no-drag;
  font-size: min(1.8vh, 14px);
  transition: 0.2s background-color linear;
}

.dropdown:hover {
  cursor: default;
}

.dropdown.inactive:hover {
  background-color: var(--top-hover);
  cursor: pointer;
}

.dropdown span {
  float: left;
  margin: 0;
  padding: 0;
  padding-right: min(1vw, 5px);
}

.dropdown img {
  position: relative;
  top: 2px;
  height: 40%;
}

.dropdown .serial-connection {
  float: left;
  height: 55%;
  -webkit-user-drag: none;
  margin-right: min(1vw, 10px);
  top: 0;
  -webkit-app-region: no-drag;
}

.options {
  display: none;
  position: absolute;
  background-color: var(--top-highlight);
  top: 100%;
  left: 0;
  overflow: auto;
  width: 15vw;
  max-height: 20vh;
  z-index: 900;
}

.options.active {
  display: flex;
}

.options span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 1vh 1vw;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s background-color linear;
}

.options span:hover {
  background-color: var(--top-hover);
  cursor: pointer;
}

.top-button {
  border: none;
  -webkit-app-region: no-drag;
  background-color: inherit;
  padding: min(0.5vh, 4px);
  margin-left: 1vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.2s background-color linear;
}

.top-button:hover {
  cursor: pointer;
  background-color: var(--top-hover);
}

.top-button img {
  height: min(2.5vh, 22px);
  width: min(2.5vh, 22px);
  -webkit-user-drag: none;
}

#main {
  height: calc(100vh - min(5vh, 40px));
  width: 100vw;
  display: flex;
  align-items: center;
}

#main #grid-display {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(32, calc(100vw / 32));
  grid-template-rows: repeat(20, calc(100% / 20));
}

#grid-display > div {
  border: 1px solid black;
}

#visual {
  grid-column: 1 / span 8;
  grid-row: 1 / span 20;
}

#visual > div {
  width: calc(100% - min(8%, 30px));
  float: right;
}

#visual #visual-sidebar {
  width: min(8%, 30px);
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#visual-sidebar > span {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  /* transform: rotate(180deg); */
  padding-top: 0.5vw;
  padding-bottom: 3vh;
  --background-color: var(--sidebar-main);
  background-color: var(--background-color);
  height: min-content;
  width: 100%;
  position: relative;
  color: whitesmoke;
  font-size: calc(0.8vw + 4px);
  overflow: hidden;
}

#visual-sidebar > span:hover {
  --background-color: var(--sidebar-hover);
  background-color: var(--background-color);
  cursor: pointer;
}

#visual-sidebar > span::after {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  content: "";
  border-top: 2vh solid var(--main-bg);
  border-right: 3vh solid var(--background-color);
}

#visual-top {
  height: 55%;
}

#visual-bottom {
  height: 45%;
}
/* #graphs {
  grid-column: 1 / span 8;
  grid-row: 12 / span 9;
} */

#status {
  grid-column: 9 / span 24;
  grid-row: 1 / span 1;
}

#status > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 2.5vh;
}

#t-plus {
  float: left;
}

#apogee {
  float: right;
}

span .value {
  margin-left: 1vw;
}

#telem-1 {
  grid-column: 9 / span 8;
  grid-row: 2 / span 15;
}

#telem-2 {
  grid-column: 17 / span 8;
  grid-row: 2 / span 15;
}

#telem-3 {
  grid-column: 25 / span 8;
  grid-row: 2 / span 15;
}

.telem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauge-container {
  position: absolute;
  margin-top: 1vh;
}

.gauge-text {
  position: absolute;
  font-size: 3.2vh;
  transform: translateX(-50%);
  bottom: 4vh;
  left: 50%;
}

#radio {
  grid-column: 9 / span 24;
  grid-row: 17 / span 4;
}

/* #telem-1 {
  background-color: lightgray;
  grid-column: 9 / span 18;
  grid-row: 2 / span 6;
}

#telem-2 {
  background-color: darkgray;
  grid-column: 9 / span 18;
  grid-row: 8 / span 6;
}

#telem-3 {
  background-color: gray;
  grid-column: 9 / span 18;
  grid-row: 14 / span 6;
}

#radio {
  background-color: orange;
  grid-column: 27 / span 6;
  grid-row: 2 / span 19;
} */
